label{
    color: white;
    margin: 0.5rem ;
}
form{
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    margin: auto;
    max-width: 700px;
}
form input, form textarea{
    margin-bottom: 1rem;
    padding: 10px 18px;
    font-size: 1.2rem;
    background-color: rgba(255,255,255,0.2);
    border-color: (255, 255, 255, 0.1);
}